<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Podzespoły twojego komputera</p>

<table>
    <th:block th:each="komputer : ${komputer}">

        <tr th:if="${komputer.procesor == null}" >
            <td>
                <p>Procesor:</p>
            </td>


            <td>
                <p>Dodaj Procesor</p>
            </td>
        </tr>

        <tr th:unless="${komputer.procesor == null}">
            <td>
                <p>Procesor:</p>
            </td>
            <td>
                <img th:src="${komputer.procesor.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.procesor.producent}"></p>
            </td>

            <td>
                <p th:text="${komputer.procesor.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="procesor" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>






        <tr th:if="${komputer.plytaGlowna == null}" >
            <td>
                <p>Płyta Główna:</p>
            </td>

            <td>
                <p>Dodaj Płytę</p>
            </td>
        </tr>

        <tr th:unless="${komputer.plytaGlowna == null}">
            <td>
                <p>Płyta Główna:</p>
            </td>
            <td>
                <img th:src="${komputer.plytaGlowna.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.plytaGlowna.producent}"></p>
            </td>


            <td>
                <p th:text="${komputer.plytaGlowna.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="plyta" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>

        <tr>

            <tr th:each="ram : ${ram}">
                <td>RAM: </td>
                <td>   <img th:src="${komputer.kartaGraficzna.obrazek}" /></td>
                <td>  <p th:text="${ram.producent}"></p></td>
                <td>    <p th:text="${ram.nazwa}"></p></td>

            </tr>
        </tr>




        <tr th:if="${komputer.kartaGraficzna == null}" >
            <td>
                <p>Karta Graficzna:</p>
            </td>

            <td>
                <p>Dodaj Kartę Graficzną</p>
            </td>
        </tr>

        <tr th:unless="${komputer.kartaGraficzna == null}">
            <td>
                <p>Karta Graficzna:</p>
            </td>
            <td>
                <img th:src="${komputer.kartaGraficzna.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.kartaGraficzna.producent}"></p>
            </td>


            <td>
                <p th:text="${komputer.kartaGraficzna.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="karta_graficzna" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>


        <tr th:if="${komputer.zasilacz == null}" >
            <td>
                <p>Zasilacz:</p>
            </td>

            <td>
                <p>Dodaj Zasilacz</p>
            </td>
        </tr>

        <tr th:unless="${komputer.zasilacz == null}">
            <td>
                <p>Zasilacz:</p>
            </td>
            <td>
                <img th:src="${komputer.zasilacz.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.zasilacz.producent}"></p>
            </td>


            <td>
                <p th:text="${komputer.zasilacz.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="zasilacz" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>


        <tr th:if="${komputer.napedOptyczny == null}" >
            <td>
                <p>Napęd optyczny:</p>
            </td>

            <td>
                <p>Dodaj Napęd optyczny</p>
            </td>
        </tr>

        <tr th:unless="${komputer.napedOptyczny == null}">
            <td>
                <p>Napęd optyczny:</p>
            </td>
            <td>
                <img th:src="${komputer.napedOptyczny.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.napedOptyczny.producent}"></p>
            </td>


            <td>
                <p th:text="${komputer.napedOptyczny.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="naped_optyczny" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>


        <tr th:if="${komputer.obudowa == null}" >
            <td>
                <p>Obudowa:</p>
            </td>

            <td>
                <p>Dodaj obudowę</p>
            </td>
        </tr>

        <tr th:unless="${komputer.obudowa == null}">
            <td>
                <p>Obudowa:</p>
            </td>
            <td>
                <img th:src="${komputer.obudowa.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.obudowa.producent}"></p>
            </td>


            <td>
                <p th:text="${komputer.obudowa.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="obudowa" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>










        <tr th:if="${komputer.dysk == null}" >
            <td>
                <p>Dysk:</p>
            </td>


            <td>
                <p>Dodaj Dysk</p>
            </td>
        </tr>

        <tr th:unless="${komputer.dysk == null}">
            <td>
                <p>Dysk:</p>
            </td>
            <td>
                <img th:src="${komputer.dysk.obrazek}" />
            </td>

            <td>
                <p th:text="${komputer.dysk.producent}"></p>
            </td>

            <td>
                <p th:text="${komputer.dysk.nazwa}"></p>
            </td>
            <td>
                <form th:action="@{/komputer/skladanie/usun}"  method="POST">
                    <input name="delete" value="dysk" type="hidden"/>
                    <input type="submit" value="Usuń" class="btn btn-red" />
                </form>
            </td>

        </tr>










    </th:block>


</table>

</body>
</html>