<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<th:block th:include="menu.html">
</th:block>

<table border="1">
    <tr th:each="komputery : ${komputery}">

        <td>
            <p th:text = "${komputery.procesor.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.procesor.obrazek}" />
        </td>
        <td>
            <p th:text = "${komputery.plytaGlowna.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.plytaGlowna.obrazek}" />
        </td>


        <td  th:each="ram : ${komputery.getRam()} ">

            <p th:text = "${ram.nazwa}"></p>
            <img width="50px" height="50px" th:src="${ram.obrazek}" />

        </td>


        <td colspan="2">
            <p th:text = "${komputery.kartaGraficzna.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.kartaGraficzna.obrazek}" />
        </td>

        <td colspan="2">
            <p th:text = "${komputery.zasilacz.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.zasilacz.obrazek}" />
        </td>

        <td colspan="2">
            <p th:text = "${komputery.napedOptyczny.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.napedOptyczny.obrazek}" />
        </td>

        <td colspan="2">
            <p th:text = "${komputery.obudowa.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.obudowa.obrazek}" />
        </td>

        <td colspan="2">
            <p th:text = "${komputery.dysk.nazwa}"></p>
            <img width="50px" height="50px" th:src="${komputery.dysk.obrazek}" />
        </td>

        <td>
            <p th:text = "${komputery.cena}+ ' zł'"></p>

        </td>


    </tr>


</table>




</body>
</html>